@keyframes clearToGold {
  0% {
    background: linear-gradient(
      to bottom right,
      rgba(248, 101, 33, 0), 10%,
      rgba(248, 101, 33, 0)
    );
  }
  25% {
    background: linear-gradient(
      to bottom right,
      rgba(248, 101, 33, 0.05), 10%,
      rgba(248, 101, 33, 0.0175)
    );
  }
  50% {
    background: linear-gradient(
      to bottom right,
      rgba(248, 101, 33, 0.1), 10%,
      rgba(248, 101, 33, 0.025)
    );
  }
  75% {
    background: linear-gradient(
      to bottom right,
      rgba(248, 101, 33, 0.15), 10%,
      rgba(248, 101, 33, 0.0335)
    );
  }
  100% {
    background: linear-gradient(
      to bottom right,
      rgba(248, 101, 33, 0.2), 10%,
      rgba(248, 101, 33, 0.05)
    );
  }
}
@keyframes goldToClear{
  0% {
    background: linear-gradient(
      to bottom right,
      rgba(248, 101, 33, 0.2), 10%,
      rgba(248, 101, 33, 0.05)
    );
  }
  25% {
    background: linear-gradient(
      to bottom right,
      rgba(248, 101, 33, 0.15), 10%,
      rgba(248, 101, 33, 0.0335)
    );
  }
  50% {
    background: linear-gradient(
      to bottom right,
      rgba(248, 101, 33, 0.1), 10%,
      rgba(248, 101, 33, 0.025)
    );
  }
  75% {
    background: linear-gradient(
      to bottom right,
      rgba(248, 101, 33, 0.05), 10%,
      rgba(248, 101, 33, 0.0175)
    );
  }
  100% {
    background: linear-gradient(
      to bottom right,
      rgba(248, 101, 33, 0), 10%,
      rgba(248, 101, 33, 0)
    );
  }
}

@keyframes shiftTitle {
  from {
    padding-left: 2em;
  }
  to {
    padding-left: 3em;
  }
}

@keyframes shiftTitleBack {
  from {
    padding-left: 3em;
  }
  to {
    padding-left: 2em;
  }
}

@keyframes enlargeIntroText{
  from{font-size:1.4em;}
  to{font-size: 1.45em;}
}

@keyframes increaseWidth{
  from{width:85%;}
  to{width:90%;}
}

@keyframes decreaseWidth{
  from{width:90%;}
  to{width:85%;}
}

.titleSection {
  display: flex;
  height: 6em;
  align-items: center;
  padding: 2em;
  padding-top: 4em;
  padding-bottom: 4em;
  margin-bottom: 1em;
  color: white;

  animation-name: goldToClear, shiftTitleBack;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;

}

.titleSection:hover {
  animation-name: clearToGold, shiftTitle;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.headerSection {
  display: grid;
  grid-template-rows: 2;
  grid-row-gap: 2em;
  margin: 8em;
  justify-items: center;
  background: rgba(0, 0, 0, 0);
  padding: 1em;
  color: white;
}

.introductiontxt {
  text-align: center;
  font-size: 1.4em;
}

.cardViewSection {
  display: grid;
  grid-template-rows: 2;
  margin: 1em;
  background: rgba(150, 150, 150,0.3);
}

.header2Container {
  margin: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  background: rgba(150, 150, 150,0.5);
  color: white;
}

.cardViewContainer {
  display: flex;
  margin: 2em;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card1 {
  width: 85%;
  margin-right:4em;
  animation-name:decreaseWidth;
  animation-duration: 0.4s;
}

.card1:hover{
  animation-name:increaseWidth;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  
}

.cardBody{
  background: rgba(0, 0, 0, 0.1);
}

.extraSection {
  display: grid;
  grid-template-rows: 2;
  grid-row-gap: 2em;
  margin: 1em;
  margin-top: 6em;
  margin-bottom: 4.5em;
  justify-items: center;
  background: rgba(0, 0, 0, 0);
  padding: 1em;
  color: white;
}
.footerSection {
  display: flex;
  height: 6em;
  align-items: center;
  justify-content: end;
  padding: 2em;
  padding-top: 4em;
  padding-bottom: 4em;
  margin-top: 1em;
  color: white;

  animation-name: goldToClear, shiftTitleBack;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;

}

.footerSection:hover {
  animation-name: clearToGold, shiftTitle;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(background.jpeg);
  background-attachment: fixed;
  background-size: 100%;
}
img{
  max-height: 25em;
}